.ncg-t_panelBody {
	position: relative;
}

#panelOverlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: rgba(255,255,255,0.9);
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
	font-weight: bold;
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#panelOverlay .text {
	display: inline-block;
}

#ncg-t_transitionsList .radio a {
	display: none;
	float: right;
}
#ncg-t_transitionsList .radio:hover a {
	display: inline-block;
}

#ncg-t_sceneList {
    margin: 0;
    padding: 0;
    list-style: none;
}
#ncg-t_sceneList li a {
    display: block;
    padding: 5px 7px;
    margin-bottom: 1px;
    background: #EEEEEE;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
#ncg-t_sceneList li:first-child a {
    border-radius: 5px 5px 0 0;
}
#ncg-t_sceneList li:last-child a {
    border-radius: 0 0 5px 5px;
}
#ncg-t_sceneList li a:hover,
#ncg-t_sceneList li.live a {
    text-decoration: none;
    color: #ffffff;
    background-color: #008cba;
}
#ncg-t_sceneList li.live a {
    border-right: 10px solid #43AC6A;
}

.ncg-t_modal .video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.ncg-t_modal .video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABGdBTUEAALGPC/xhBQAAAAZQTFRF8PDwAAAAfqfmLAAAAAJ0Uk5TzAAR3FV6AAAAFElEQVQI12NgsP/AQAz+f4CBGAwAJIIdTTn0+w0AAAAASUVORK5CYII=);
}

#ncg-t_addFile {
	position: relative;
}
#ncg-t_addFile .uploadingOverlay {
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	z-index: 5;
	cursor: wait;
	font-weight: bold;
	line-height: 34px;
}
#ncg-t_addFile .form-group {
	padding-right: 27px;
	position: relative;
}
#ncg-t_addFile .btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 35px;
	line-height: 26px;
}

#ncg-t_transitionResolution {
	position: relative;
}
#ncg-t_transitionResolution .x {
	position: absolute;
	top: 0;
	left: -1px;
	right: 0;
	bottom: 0;
	text-align: center;
	height: 29px;
	line-height: 29px;
	font-weight: bold;
	color: #cccccc;
}